* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

header {
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    background-color: aqua;
    color: white;
    padding: .25em;
    margin: 0;
}

header h1 a,
header h1 a:visited,
header h1 a:hover {
    color: white;
    text-decoration: none;
}

header>div>a {
    text-decoration: none;
    color: grey;
    font-weight: 600;
}

header>div>a:hover {
    text-decoration: underline;
    text-decoration-color: grey;
}

section {
    text-align: center;
    padding: .5rem;
}

section h1 {
    font-weight: bolder;
    padding: 1rem;
}

.button {
    width: auto;
    min-width: auto;
    background: #ff5844;
    color: white;
    padding: 1em;
    border: none;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(.95);
}

.button:focus,
.button:visited {
    border: none;
}

.submit {
    grid-column: 1 / -1;
    justify-self: center
}

.addNewSalesItem {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}

form {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: .5rem;
    padding: 1rem;
    width: 50vw;
    max-width: 700px;
    min-width: 200px;
}

label {
    text-align: left;
}

input {
    padding-left: .25rem;
}

.salesItemForm {
    /* padding: 0; */
    display: block;
    width: 500px;
    text-align: left
}

.salesItemForm>* {
    display: block;
}

.salesItemForm input,
.salesItemForm textarea {
    width: 100%;
}

.salesItemForm textarea {
    resize: none;
    height: 40vh;
}

.salesItemForm input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label[for=picture] {
    font-size: 1.25rem;
    color: white;
    background-color: tomato;
    display: inline-block;
    padding: .25rem;
    margin: .25rem 0;
    cursor: pointer;
}

img.previewPicture {
    max-width: 100%;
}

img.selected {
    border: tomato 2px solid;
}

.button.button-small {
    display: inline-block;
    width: auto;
}

.button.submit,
.button.cancel {
    margin: 0 .25rem;
}

.button#deleteImages {
    padding: .25rem;
    font-size: 1.25rem;
}

.button:disabled {
    filter: opacity(.5);
    cursor: not-allowed
}

div.imagesHolder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .25rem;
    align-items: center;
    /* justify-content: space-around; */
    /* align-content: space-around; */
    padding: .25rem;
    border-color: silver;
    border-style: solid;
    border-width: 1px;
    margin: .25rem 0;
}

div.buttonHolder {
    display: flex;
    justify-content: center;
}

/* Styling the sales item post */
div.salesItem {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 4fr;
    grid-template-areas:
        "picture title"
        "picture price"
        "picture description";
    grid-gap: .5rem;
    align-items: center;
    text-align: left;
    margin: .5rem
}

div.salesItem:hover {
    cursor: pointer;
    border: tomato .1rem solid
}

div.salesItem img {
    grid-area: picture;
}

div.salesItem h2 {
    grid-area: title;
}

div.salesItem h3 {
    grid-area: price;
}

div.salesItem p {
    grid-area: description;
    align-self: flex-start;
}

/* Styling the sales item details */
div.salesItemDetails {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr auto auto auto;
    grid-template-areas:
        "picture"
        "title"
        "price"
        "description";
    grid-gap: .5rem;
    text-align: left;
    margin: 0 auto;
}

div.salesItemDetails h2 {
    grid-area: title;
}

div.salesItemDetails h3 {
    grid-area: price;
}

div.salesItemDetails p {
    grid-area: description;
}

div.salesItemDetails img {
    grid-area: picture;
    max-height: 50vh;
    justify-self: center;
    max-width: 80vw;
}

div.salesItemDetails span.arrow {
    position: absolute;
    cursor: pointer;
    top: 35%;
    margin: 0 3rem;
}

div.salesItemDetails span#arrowleft {
    left: 0;
}

div.salesItemDetails span#arrowRight {
    right: 0;
}