* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    background-color: aqua;
    color: white;
    padding: .25em;
}

section {
    text-align: center;
    padding: 2rem;
}

section h1 {
    font-weight: bolder;
    padding: 1rem;
}

.button {
    width: 25vw;
    min-width: auto;
    background: #ff5844;
    color: white;
    padding: 1em;
    border: none;
}

.button:hover,
.button:active {
    box-shadow: .25rem .25rem .1rem 0rem rgba(0, 0, 0, 0.75);
}

.button:focus,
.button:visited {
    border: none;
}

.submit {
    grid-column: 1 / -1;
    justify-self: center
}

.addNewSalesItem {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
}

form {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: .5rem;
    padding: 1rem;
    width: 50vw;
    max-width: 700px;
    min-width: 200px;
}

label {
    text-align: left;
}

.salesItemForm {
    /* padding: 0; */
    display: block;
    width: 500px;
    text-align: left
}

.salesItemForm>* {
    display: block;
}

.salesItemForm input,
.salesItemForm textarea {
    width: 100%;
}

img.previewPicture {
    max-width: 100%;
}

img.selected {
    border: tomato 2px solid;
}

.button.button-small {
    width: auto;
    display: inline;
}

.button.submit,
.button.cancel {
    margin: 0 .25rem;
}

.button#deleteImages {
    grid-column-end: -1;
    grid-row-end: -1;
}

.button:disabled {
    filter: opacity(.5);
    cursor: not-allowed
}

div.imagesHolder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .25rem;
    align-items: center;
    /* justify-content: space-around; */
    /* align-content: space-around; */
    padding: .25rem;
    border-color: silver;
    border-style: solid;
    border-width: 1px;
    margin: .25rem 0;
}

div.buttonHolder {
    display: flex;
    justify-content: center;
}